<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photon WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Photon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D34FB2351A70F56F00DB659E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34FB25E1A70F5D900DB659E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34FB2861A71705500DB659E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34FB29F1A71714600DB659E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34FB2AE1A71714700DB659E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38C16341A68DE96006FE974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38C164D1A68DE96006FE974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
